@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-display);
  --font-sans: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
}
